/* SIGNIEL.com 핵심공통 CSS - core.css */

//폰트
@font-face{
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Regular.ttf") format("truetype");
}

body{
  font-family: "Pretendard-Regular";
}