/* SIGNIEL.com 핵심공통 CSS - core.css */

//폰트
@font-face{
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-Bold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face{
  font-family: "Pretendard-SemiBold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-SemiBold.ttf") format("truetype");
}

body{
  font-family: "Pretendard-Regular";
}
.tit{
  font-family: "Pretendard-Bold";
}

/////// 컬러 ///////
$color-main : #867868;

//믹스인
@mixin flex($x: flex-start, $y: flex-end) {
  display: flex;
  justify-content: $x;
  align-items: $y;
  @content;
}