// 하단영역 CSS - footer_area.scss
@import "reset";
@import "core";
@import "variables";

#footer {
  height: $footer-area-height;
  background-color: $color-main;
  .bottom-area {
    max-width: 1000px;
    padding: 0 15px;
    margin: 0 auto;
    @include flex(space-between, center);
    .left-con {
      padding-top: 20px;
      .bottom-logo {
        img {
          height: 90px;
        }
        padding-bottom: 25px;
      }
      .info {
        padding-bottom: 20px;
        font-size: 13px;
        text-align: left;
        color: #efefef;
      }
    }
    .right-con {
      .sns-wrap {
        height: 60px;
        ul {
          @include flex(space-between, center);
          gap: 10px;
          li {
            margin-top: 5px;
            width: 47px;
            img {
              width: 100%;
            }
          }
        }
      }
      .bottom-nav {
        padding-top: 30px;
        padding-bottom: 20px;
        ul {
          @include flex(flex-end, center);
          width: 100%;
          margin: 0 auto;
          gap: 10px;
          li {
            a {
              color: #c8c8c8;
              font-size: 12px;
            }
          }
        }
      }
    }
  }
}
