//// 공통 import ////
@import "reset";
@import "core";
@import "variables";

body::-webkit-scrollbar {
  display: none;
}

@media (min-width: 1024px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 9999;
    background-color: #ffffff00;
    transition: 0.5s;

    .top-area {
      @include flex(space-between, center);
      max-width: 1400px;
      padding: 0 17px;
      margin: 0 auto;
      .logo {
        img {
          width: 200px;
        }
      }
      .header-nav {
        position: relative;
        display: flex;
        ul {
          @include flex(space-between, center);
          li {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 25px 20px;
            .smenu {
              display: none;
            }
            a {
              color: #1c1c1c;
              font-size: 15px;
            }
            &:hover {
              background-color: $color-main;
              a {
                color: #fff;
              }
            }
          }
        }
      }
      .log-wrap {
        width: 120px;
        ul {
          @include flex(flex-end, center) {
            gap: 15px;
          }
          li {
            a {
              color: #797979;
              font-size: 15px;
            }
          }
        }
      }
      .ham-wrap {
        display: none;
      }
    }
  }
}

////////// 모바일 & 태블릿 미디어쿼리 /////////
@media (max-width: 1023px) {
}
