@charset "UTF-8";
/* 공통 import */
/* 요소의 초기화 */
/* 루트 글자크기 */
html {
  font-size: 10px;
}

/* 1. 마진,패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dt, dd, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

/* 가로스크롤 생김 방지!(특히 모바일) */
html, body {
  overflow-x: hidden;
}

body {
  padding-top: 58px;
  /* 상단영역 fixed구역만큼 밀어주기 */
}

/* 2. a요소 리셋 */
a {
  color: #000;
  /* 글자색 */
  text-decoration: none;
  /* 밑줄없앰 */
}

/* 3. ul,ol 리셋 */
ul, ol {
  list-style: none;
  /* 블릿/숫자 제거 */
}

/* 4. h요소 글자크기 리셋 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* html의 기본글자크기(16px)와 일치 초기화 */
}

/* 5. 이미지 리셋 */
img {
  border: none;
  /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
  vertical-align: bottom;
  /* 박스 이미지 하단간극 없애기(약4px)
  값으로 top, middle등 도 효과있음! */
}

body::-webkit-scrollbar {
  display: none;
}

/* SIGNIEL.com 핵심공통 CSS - core.css */
@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Bold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-SemiBold.ttf") format("truetype");
}
body {
  font-family: "Pretendard-Regular";
}

.tit {
  font-family: "Pretendard-Bold";
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 58px;
  z-index: 1000;
  background-color: #fff;
  transition: 0.5s;
  border-bottom: 0.7px solid #c1c1c1;
}
#header .top-area {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding: 0 15px;
  margin: 0 auto;
}
#header .top-area .logo img {
  width: 200px;
}
#header .top-area .header-nav {
  position: relative;
  display: flex;
}
#header .top-area .header-nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .top-area .header-nav ul li {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 17px 30px;
  /* 마우스 오버 시 서브메뉴 확장 */
}
#header .top-area .header-nav ul li a {
  font-family: "pretendard-SemiBold";
  color: #333;
  font-size: 20px;
}
#header .top-area .header-nav ul li:hover {
  background-color: #867868;
}
#header .top-area .header-nav ul li:hover a {
  color: #fff;
}
#header .top-area .header-nav ul li .smenu {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
}
#header .top-area .header-nav ul li .smenu ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
#header .top-area .header-nav ul li .smenu ol li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
#header .top-area .header-nav ul li .smenu ol li a {
  color: #333;
  font-size: 15px;
  display: block;
  padding: 8px 12px;
}
#header .top-area .header-nav ul li .smenu ol li:hover a {
  color: #fff;
}
#header .top-area .header-nav ul li:hover .smenu {
  max-height: 200px;
}
#header .top-area .log-wrap ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}
#header .top-area .log-wrap ul li a {
  color: #797979;
  font-size: 13px;
}
#header .top-area .log-wrap ul li span {
  color: #4a4a4a;
  font-size: 13px;
}
#header .top-area .hambtn {
  display: none;
}

@media (max-width: 1023px) {
  #header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 58px;
    z-index: 1000;
    background-color: #fff;
    transition: 0.5s;
  }
  #header .top-area {
    position: relative;
  }
  #header .top-area .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    order: 2;
    order: 1;
    width: 170px;
  }
  #header .top-area .logo img {
    width: 100%;
  }
  #header .top-area .header-nav {
    display: none;
  }
  #header .top-area .log-wrap {
    order: 2;
  }
  #header .top-area .log-wrap ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  #header .top-area .log-wrap ul span {
    display: none;
  }
  #header .top-area .hambtn {
    display: block;
    /* 햄버거 메뉴 드롭박스 */
    /* 메뉴 열렸을 때 */
  }
  #header .top-area .hambtn .hammenu {
    position: relative;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    z-index: 12;
    cursor: pointer;
    order: 1;
  }
  #header .top-area .hambtn .hammenu .ham {
    width: 20px;
    height: 14px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #header .top-area .hambtn .hammenu .ham span {
    transition: all 0.2s linear;
    position: absolute;
    width: 20px;
    height: 2px;
    display: block;
    background-color: #000000;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(1) {
    top: 0%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(2) {
    top: 50%;
  }
  #header .top-area .hambtn .hammenu .ham span:nth-of-type(3) {
    top: 100%;
  }
  #header .top-area .hambtn .ham-drop-box {
    background-color: #867868;
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    transition: all 0.3s ease-in-out;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop {
    margin-top: 58px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li {
    width: 100%;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop > li > a {
    font-family: "pretendard-SemiBold";
    color: #fff;
    display: block;
    position: relative;
    font-size: 23px;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid #fff;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop .smenu {
    display: block;
    padding: 10px 0;
    margin: 0 20px;
  }
  #header .top-area .hambtn .ham-drop-box .ham-drop .smenu li a {
    color: #fff;
    display: block;
    position: relative;
    font-size: 20px;
    padding: 15px 0;
    margin: 0 20px;
    border-bottom: 1px solid #fff;
  }
  #header .top-area .hambtn.open .ham-drop-box {
    left: 0;
  }
  #header .top-area .hambtn.open .ham span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 6px;
    background-color: #fff;
  }
  #header .top-area .hambtn.open .ham span:nth-of-type(2) {
    background-color: #fff;
    opacity: 0;
  }
  #header .top-area .hambtn.open .ham span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 6px;
    background-color: #fff;
  }
}/*# sourceMappingURL=top_area.css.map */