@import "./common/reset";
body {
  font-size: 10px;
}
main {
  width: 100%;
}

// post

.post {
  color: #998465;
  h1 {
    font-size: 4rem;
  }
  p {
    font-size: 3rem;
  }
  div {
    margin: 5% 5%;
    font-size: 2.2rem;
    display: flex;
    position: relative;
  }
  div span:nth-child(2) {
    margin-left: 5%;
  }  
  div span:nth-child(3) {
    height: 1px;
    // display: block;
    width: 20%;
    background-color: #998465;
    position: absolute;
    bottom: 0;
  }  
  div span:nth-child(1)::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid;
  }
  table {
    font-size: 2.5rem;
    margin-left: 5%;
    width: 100%;
    tr td:nth-of-type(1) {
      width: 20%;
    }
    tr td:nth-of-type(2) {
      width: 40%;
    }
    tr td:nth-of-type(3) {
      width: 20%;
    }
    tr td:nth-of-type(3) {
      width: 20%;
    }
    td {
      border-top: 1px solid #998465;
      border-bottom: 1px solid #998465;
    }
    border-collapse: collapse;
    th {
      border-top: 1px solid #5d492c;
      background-color: #E0D8C6;
    }
  }
}