@charset "utf-8";

/* 리셋 CSS 불러오기 */
@import url("../css/reset.css");

body {
  font-size: 10px;
  width: 100%;
}

/* 배너영역 */
.banner {
  position: relative;
  width: 100%;
  height: 100%;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 인트로 영역 */
.intro {
  height: 2500px;
  /* display: flex; */
}

/* 인트로 이미지 영역 */

.intro img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.intro-1 figure{
  width: 70vw;
  height: 60vh;
}

.intro-1 img {
    object-fit: cover;
    background-position: right;
}
