@charset "UTF-8";
/* 요소의 초기화 */
/* 루트 글자크기 */
html {
  font-size: 10px;
}

/* 1. 마진,패딩 없애기 */
html, body, h1, h2, h3, h4, h5, h6, ul, ol, dt, dd, p, figure, figcaption {
  margin: 0;
  padding: 0;
}

/* 가로스크롤 생김 방지!(특히 모바일) */
html, body {
  overflow-x: hidden;
}

body {
  padding-top: 58px;
  /* 상단영역 fixed구역만큼 밀어주기 */
}

/* 2. a요소 리셋 */
a {
  color: #000;
  /* 글자색 */
  text-decoration: none;
  /* 밑줄없앰 */
}

/* 3. ul,ol 리셋 */
ul, ol {
  list-style: none;
  /* 블릿/숫자 제거 */
}

/* 4. h요소 글자크기 리셋 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  /* html의 기본글자크기(16px)와 일치 초기화 */
}

/* 5. 이미지 리셋 */
img {
  border: none;
  /* 이미지 링크시 서버에서 볼때 파란색 자동보더 없애기 */
  vertical-align: bottom;
  /* 박스 이미지 하단간극 없애기(약4px)
  값으로 top, middle등 도 효과있음! */
}

body::-webkit-scrollbar {
  display: none;
}

/* SIGNIEL.com 핵심공통 CSS - core.css */
@font-face {
  font-family: "Pretendard-Regular";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-Bold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  font-weight: normal;
  src: url("../../static/fonts/Pretendard-SemiBold.ttf") format("truetype");
}
body {
  font-family: "Pretendard-Regular";
}

.tit {
  font-family: "Pretendard-Bold";
}

.branch-container {
  width: 100%;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.branch-banner {
  position: relative;
}

.branch-wrap {
  max-width: 140rem;
  background-color: aqua;
  margin: 0 auto;
}

.banner-img {
  flex: 1;
  position: relative;
}

.banner-img img {
  width: 100%;
  height: auto;
  display: block;
}

.banner-text {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.banner-text p {
  position: absolute;
}

.banner-text span {
  position: absolute;
  bottom: 5%;
  right: 0px;
}

.slide-box {
  display: flex;
}

.slide-img {
  width: 33%;
}
.slide-img img {
  width: 100%;
}

.slide-box {
  display: flex;
  justify-content: space-between; /* 이미지 사이 간격 조정 */
  gap: 10px; /* 이미지 간 간격 */
}

.slide-box > div {
  flex: 1; /* 모든 이미지 컨테이너가 동일한 너비를 가지도록 설정 */
}

.slide-img {
  width: 100%; /* 부모 요소에 맞춰 이미지 크기 조정 */
  height: auto; /* 원본 비율 유지 */
}

.slide-img img {
  width: 100%; /* 이미지가 컨테이너에 맞게 확장 */
  height: auto; /* 비율 유지 */
  display: block;
}

.con-wrap ul li {
  width: 40%;
}

.con-wrap ul {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  padding-bottom: 5%;
  text-align: center;
}
.con-wrap ul img {
  width: 90%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.con-wrap:nth-of-type(2) .img-box {
  padding-left: 10%;
}

.con-wrap:nth-of-type(3) {
  flex-direction: row-reverse;
}

.con-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 10% 0;
  padding: 0;
}

.img-box {
  flex: 1;
  width: 50%;
}

.img-box img {
  width: 100%;
  height: auto;
  display: block;
}

.text-box {
  flex: 1;
  padding: 20px;
}

.text-box div {
  width: 60%;
  text-align: center;
}

.con-wrap:nth-of-type(4) {
  display: block;
}
.con-wrap:nth-of-type(4) h2 {
  text-align: center;
  margin-bottom: 3%;
}

.con-wrap:nth-of-type(4) > h2::after {
  content: "";
  display: block;
  border-bottom: 1px solid #000;
  width: 30%;
  transform: translate(110%, 0);
  margin: 5px 0;
}

.contents-title {
  text-align: center;
}

@media (max-width: 768px) {
  .con-wrap {
    display: flex;
    flex-direction: column;
  }
  .slide-box {
    overflow-x: auto; /* 가로 스크롤 활성화 */
  }
  .con-wrap:nth-of-type(3) {
    flex-direction: column;
  }
  .slide-box > div {
    flex: 0 0 auto; /* 요소 크기를 자동으로 조절하여 가로 스크롤 유도 */
    width: 100%; /* 각 이미지 컨테이너 너비 설정 */
  }
  .text-box {
    text-align: center; /* 내부 텍스트 중앙 정렬 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
  }
}/*# sourceMappingURL=branch.css.map */