@import "../common/core";
@import "../common/variables";

.card {
  @include borderSet;
  margin: 0 auto;
  width: 100%;
  background-color: #e7ded0;
  box-sizing: border-box;
  color: $color-main;

  h2 {
    font-size: 24px;
    font-family: "Pretendard-bold";
    text-align: center;
  }
  .inner-con {
    @include flex(center, center);
    margin-top: 20px;
    padding: 0 20px;
    gap: 50px;

    .select-wrap {
      display: flex;
      flex-direction: column;
      label {
        font-size: 16px;
        font-family: "Pretendard-SemiBold";
        margin-bottom: 10px;
      }
      .react-datepicker {
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);        
        
        .react-datepicker__header {
          background-color: $color-main;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          h2{
            font-size: 18px;
            color: white;
          }
          div{
            color:white;
          }
        }
        
        .react-datepicker__day--selected {
          background-color: #fdc56a;
          color: white;
        }
        
        .react-datepicker__day--today {
          font-weight: bold;
          background-color: #76afff;
        }
      }
      .react-datepicker__triangle {
        display: none; /* 삼각형 모양 제거 */
      }
    }
    .search-btn {
      position: relative;
      margin-top: 10px;
      width: 100px;
      height: 40px;
      background: $color-main;
      color: #fff;
      font-size: 18px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: #424242;
      }
      span {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
